


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8"/>
    <title>武侠岛</title>
     <meta name="keywords" content=""/>
    <meta name="description" content=""/>
	<meta property="og:type" content=""/>
	<meta property="og:title" content= ""/>
	<meta property="og:description" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:novel:category" content=""/>
	<meta property="og:novel:author" content=""/>
	<meta property="og:novel:book_name" content=""/>
	<meta property="og:novel:read_url" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:novel:status" content=""/>
	<meta property="og:novel:author_link" content=""/>
	<meta property="og:novel:update_time" content=""/>
	<meta property="og:novel:latest_chapter_name" content=""/>
	<meta property="og:novel:latest_chapter_url" content=""/>
    <meta name="MobileOptimized" content="240"/>
    <meta name="applicable-device" content="mobile"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform" /><meta http-equiv="Cache-Control" content="max-age=0" /><meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <script src="//msite.baidu.com/sdk/c.js?appid=1601985080047816"></script>
    <link rel="stylesheet" href="/cssa/reset.css"/>
    <link rel="stylesheet" href="/cssa/bookinfo.css"/>
</head>

<body>


hello,novel

</body>
</html>